#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #36445a;
  color: #caa982;
  margin: 0;
  padding: 0;
}

.container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

h1, h2, h3 {
  color: #caa982;
  text-shadow: 0 0 5px #caa982;
}

p {
  line-height: 1.6;
}

a {
  color: #caa982;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input, button {
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
  color: #caa982;
  border: 1px solid #182029;
  padding: 5px;
}

input:focus, button:focus {
  outline: none;
  box-shadow: 0 0 5px #caa982;
}

button:hover {
  background-color: #caa982;
  color: black;
}

hr {
  border: 1px solid #caa982;
}